{% extends 'base.html.twig' %}

{% block title %}New Filialen{% endblock %}

{% block body %}
    <h1>Create new Filialen</h1>

    {{ include('filialen/_form.html.twig') }}

    <a href="{{ path('filialen_index') }}">back to list</a>
{% endblock %}
